.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(4, 63, 129);
  color: white;
}

item{
  min-height: 10vh;
  background: rgb(65, 73, 83);
  color: rgb(0, 0, 0);
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.overlay {
  position: fixed;
  width: 50%;
  text-align: center;
  background-color: rgb(4, 63, 129);
  border-radius: 10px;
  font-size: 20px;
  height: 30px;
  opacity: 0;
  transition: opacity .2s ease-out;
}